<div id="files_wrapper">
    <div style="font-size: 14px;">
        {% include "sidebar/files_header.jinja2" %}
    </div>
    <div id="files">
        {% include "sidebar/files.jinja2" %}
    </div>
</div>
